* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.search {
    display: grid;
    height: 30px;
    width: 1400px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: rgb(210, 210, 214);
    text-align: center;
}

.section {
    display: grid;
    height: 1800px;
    width: 1400px;
    grid-template-columns: 11fr;
    grid-template-rows: 10fr;
    background-color: rgb(143, 143, 146);
    text-align: center;
    /* grid-area: 2 / 1 / 5 / 2; */
}


.header {
    display: grid;
    height: 200px;
    width: 1400px;
    grid-row: 1;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 10fr;
    background-color: rgb(59, 59, 197);
    /* text-align: center;
    grid-area: 1 / 2 / 1 / 8; */
}

img {
    display: flex;
    border-radius: 50%;
    margin: 10px;

 }
 
.logo {
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 100px;
    background-color: rgb(143, 143, 146);
    grid-area: 1 / 1 / 1 / 1;
}

.header1 {
    background-color: rgb(197, 75, 59);
    text-align: center;
    grid-area: 1 / 2 / 1 / 9;
}

.nav {

    background-color: rgb(87, 197, 59);
    text-align: center;
    grid-area: 1 / 9 / 2 / 112;
}

.header2 {
    /* height: 100px; */
    background-color: darkgreen;
    text-align: center;
    grid-area: 2 / 1 / 2 / 12;
}

.article1 {
    /* height: 200px; */
    border: 10px solid black;
    background-color: rgb(77, 0, 100);
    text-align: center;
    grid-area: 4 / 2 / 6 / 11;
}







.footer {
    display: grid;
    height: 300px;
    width: 1400px;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1 fr;
    background-color: rgb(88, 88, 88);
    text-align: center;
    /* grid-area: 2 / 1 / 5 / 2; */
 }





/* .container {
    display: grid;
    height: 1500px;
    width: 1400px;
    grid-template-columns: 11 fr;
    grid-template-rows: 11fr;
    gap: 10px;
} */

/* 
.about {
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgb(122, 118, 126);
    text-align: center;
}

.links {
    grid-area: 3 / 2 / 4 / 2;
    background-color: rgb(122, 118, 126);
    text-align: center;
}

.news {
    grid-area: 2 / 3 / 3 / 4;
    background-color: rgb(122, 118, 126);
    text-align: center;
}

.ads {
    grid-area: 3 / 3 / 4 / 3;
    background-color: rgb(122, 118, 126);
    text-align: center;
}

.footer {
    grid-area: 4 / 2 / 4 / 4;
    background-color: rgb(127, 202, 212);
    text-align: center;
} */
